{
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "title": "CCCS",
    "version": "0.1"
  },
  "host": "api.citizenscience.ch",
  "basePath": "/api/v2",
  "paths": {
    "/activities": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get all Activities",
        "operationId": "get_activities",
        "parameters": [
          {
            "type": "string",
            "name": "search_term",
            "in": "query"
          },
          {
            "minimum": 0,
            "type": "integer",
            "default": 20,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Return Activities",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "required": [
                  "name",
                  "description",
                  "platform",
                  "part_of"
                ],
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "created_at": {
                        "description": "Creation time",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2015-07-07T15:49:51.230+02:00"
                      },
                      "id": {
                        "type": "string",
                        "maxLength": 100,
                        "readOnly": true
                      },
                      "info": {
                        "description": "A JSON field to extend a model with extra info",
                        "type": "object"
                      },
                      "updated_at": {
                        "description": "Creation time",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2015-07-07T15:49:51.230+02:00"
                      }
                    }
                  }
                ],
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "part_of": {
                    "description": "The ID of the project that this activity is part of",
                    "type": "string"
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "Desktop",
                      "Mobile",
                      "Both"
                    ]
                  }
                }
              }
            }
          }
        },
        "x-swagger-router-controller": "api.activity.model"
      },
      "post": {
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "tags": [
          "Activities"
        ],
        "summary": "Post a activity",
        "operationId": "create_activity",
        "parameters": [
          {
            "name": "activity",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "name",
                "description",
                "platform",
                "part_of"
              ],
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    },
                    "id": {
                      "type": "string",
                      "maxLength": 100,
                      "readOnly": true
                    },
                    "info": {
                      "description": "A JSON field to extend a model with extra info",
                      "type": "object"
                    },
                    "updated_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    }
                  }
                }
              ],
              "properties": {
                "description": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "part_of": {
                  "description": "The ID of the project that this activity is part of",
                  "type": "string"
                },
                "platform": {
                  "type": "string",
                  "enum": [
                    "Desktop",
                    "Mobile",
                    "Both"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "New Activity created"
          },
          "409": {
            "description": "Activity already exists"
          }
        },
        "x-swagger-router-controller": "api.activity.model"
      }
    },
    "/activities/count": {
      "get": {
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "tags": [
          "Activities"
        ],
        "summary": "Get row count of query",
        "operationId": "get_activity_count",
        "parameters": [
          {
            "type": "string",
            "name": "search_term",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Row count"
          }
        },
        "x-swagger-router-controller": "api.activity.model"
      }
    },
    "/activities/{id}": {
      "get": {
        "security": [
          {
            "apiKeyHeader": []
          },
          {
            "anonUser": []
          }
        ],
        "tags": [
          "Activities"
        ],
        "summary": "Get a single activity",
        "operationId": "get_activity",
        "parameters": [
          {
            "pattern": "^[a-zA-Z0-9-]+$",
            "type": "string",
            "description": "The unique identifer for an Object (i.e. User, Task, Project, Submission etc)",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Return Activity"
          },
          "404": {
            "description": "Activity does not exist"
          }
        },
        "x-swagger-router-controller": "api.activity.model"
      },
      "put": {
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "tags": [
          "Activities"
        ],
        "summary": "Modify/Create a Activity",
        "operationId": "update_activity",
        "parameters": [
          {
            "pattern": "^[a-zA-Z0-9-]+$",
            "type": "string",
            "description": "The unique identifer for an Object (i.e. User, Task, Project, Submission etc)",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "name": "activity",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "name",
                "description",
                "platform",
                "part_of"
              ],
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    },
                    "id": {
                      "type": "string",
                      "maxLength": 100,
                      "readOnly": true
                    },
                    "info": {
                      "description": "A JSON field to extend a model with extra info",
                      "type": "object"
                    },
                    "updated_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    }
                  }
                }
              ],
              "properties": {
                "description": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "part_of": {
                  "description": "The ID of the project that this activity is part of",
                  "type": "string"
                },
                "platform": {
                  "type": "string",
                  "enum": [
                    "Desktop",
                    "Mobile",
                    "Both"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity modified"
          },
          "201": {
            "description": "New Activity created"
          }
        },
        "x-swagger-router-controller": "api.activity.model"
      },
      "delete": {
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "tags": [
          "Activities"
        ],
        "summary": "Remove an Activity",
        "operationId": "delete_activity",
        "parameters": [
          {
            "pattern": "^[a-zA-Z0-9-]+$",
            "type": "string",
            "description": "The unique identifer for an Object (i.e. User, Task, Project, Submission etc)",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Activity was deleted"
          },
          "404": {
            "description": "Activity does not exist"
          }
        },
        "x-swagger-router-controller": "api.activity.model"
      }
    },
    "/comments": {
      "get": {
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "tags": [
          "Comments"
        ],
        "summary": "Get a single comment",
        "operationId": "get_comments",
        "parameters": [
          {
            "type": "string",
            "name": "search_term",
            "in": "query"
          },
          {
            "minimum": 0,
            "type": "integer",
            "default": 20,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of comments",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "required": [
                  "source_id",
                  "content",
                  "user_id"
                ],
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "created_at": {
                        "description": "Creation time",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2015-07-07T15:49:51.230+02:00"
                      },
                      "id": {
                        "type": "string",
                        "maxLength": 100,
                        "readOnly": true
                      },
                      "info": {
                        "description": "A JSON field to extend a model with extra info",
                        "type": "object"
                      },
                      "updated_at": {
                        "description": "Creation time",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2015-07-07T15:49:51.230+02:00"
                      }
                    }
                  }
                ],
                "properties": {
                  "content": {
                    "type": "object"
                  },
                  "parent": {
                    "type": "string"
                  },
                  "source_id": {
                    "description": "The task or project (or anything with an ID) it is related to",
                    "type": "string"
                  },
                  "user_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "x-swagger-router-controller": "api.comment.model"
      },
      "post": {
        "security": [
          {
            "apiKeyHeader": []
          },
          {
            "anonUser": []
          }
        ],
        "tags": [
          "Comments"
        ],
        "summary": "Post a comment",
        "operationId": "create_comment",
        "parameters": [
          {
            "name": "comment",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "source_id",
                "content",
                "user_id"
              ],
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    },
                    "id": {
                      "type": "string",
                      "maxLength": 100,
                      "readOnly": true
                    },
                    "info": {
                      "description": "A JSON field to extend a model with extra info",
                      "type": "object"
                    },
                    "updated_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    }
                  }
                }
              ],
              "properties": {
                "content": {
                  "type": "object"
                },
                "parent": {
                  "type": "string"
                },
                "source_id": {
                  "description": "The task or project (or anything with an ID) it is related to",
                  "type": "string"
                },
                "user_id": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Comment created",
            "schema": {
              "type": "object",
              "required": [
                "source_id",
                "content",
                "user_id"
              ],
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    },
                    "id": {
                      "type": "string",
                      "maxLength": 100,
                      "readOnly": true
                    },
                    "info": {
                      "description": "A JSON field to extend a model with extra info",
                      "type": "object"
                    },
                    "updated_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    }
                  }
                }
              ],
              "properties": {
                "content": {
                  "type": "object"
                },
                "parent": {
                  "type": "string"
                },
                "source_id": {
                  "description": "The task or project (or anything with an ID) it is related to",
                  "type": "string"
                },
                "user_id": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Comment already exists"
          }
        },
        "x-swagger-router-controller": "api.comment.model"
      }
    },
    "/comments/{id}": {
      "get": {
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "tags": [
          "Comments"
        ],
        "summary": "Get a single comment",
        "operationId": "get_comment",
        "parameters": [
          {
            "pattern": "^[a-zA-Z0-9-]+$",
            "type": "string",
            "description": "The unique identifer for an Object (i.e. User, Task, Project, Submission etc)",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Return comment",
            "schema": {
              "type": "object",
              "required": [
                "source_id",
                "content",
                "user_id"
              ],
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    },
                    "id": {
                      "type": "string",
                      "maxLength": 100,
                      "readOnly": true
                    },
                    "info": {
                      "description": "A JSON field to extend a model with extra info",
                      "type": "object"
                    },
                    "updated_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    }
                  }
                }
              ],
              "properties": {
                "content": {
                  "type": "object"
                },
                "parent": {
                  "type": "string"
                },
                "source_id": {
                  "description": "The task or project (or anything with an ID) it is related to",
                  "type": "string"
                },
                "user_id": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Comment does not exist"
          }
        },
        "x-swagger-router-controller": "api.comment.model"
      },
      "put": {
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "tags": [
          "Comments"
        ],
        "summary": "Modify/Create a Comment",
        "operationId": "update_comment",
        "parameters": [
          {
            "pattern": "^[a-zA-Z0-9-]+$",
            "type": "string",
            "description": "The unique identifer for an Object (i.e. User, Task, Project, Submission etc)",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "name": "submission",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "source_id",
                "content",
                "user_id"
              ],
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    },
                    "id": {
                      "type": "string",
                      "maxLength": 100,
                      "readOnly": true
                    },
                    "info": {
                      "description": "A JSON field to extend a model with extra info",
                      "type": "object"
                    },
                    "updated_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    }
                  }
                }
              ],
              "properties": {
                "content": {
                  "type": "object"
                },
                "parent": {
                  "type": "string"
                },
                "source_id": {
                  "description": "The task or project (or anything with an ID) it is related to",
                  "type": "string"
                },
                "user_id": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comment modified"
          },
          "201": {
            "description": "New Comment created"
          }
        },
        "x-swagger-router-controller": "api.comment.model"
      },
      "delete": {
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "tags": [
          "Comments"
        ],
        "summary": "Remove a Comment",
        "operationId": "delete_comment",
        "parameters": [
          {
            "pattern": "^[a-zA-Z0-9-]+$",
            "type": "string",
            "description": "The unique identifer for an Object (i.e. User, Task, Project, Submission etc)",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Comment was deleted"
          },
          "404": {
            "description": "Comment does not exist"
          }
        },
        "x-swagger-router-controller": "api.comment.model"
      }
    },
    "/media": {
      "get": {
        "security": [
          {
            "apiKeyHeader": []
          },
          {
            "anonUser": []
          }
        ],
        "description": "Get a list of media",
        "tags": [
          "Media"
        ],
        "operationId": "get_media",
        "parameters": [
          {
            "type": "string",
            "name": "search_term",
            "in": "query"
          },
          {
            "minimum": 0,
            "type": "integer",
            "default": 20,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of media",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "required": [
                  "source_id",
                  "path",
                  "name"
                ],
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "created_at": {
                        "description": "Creation time",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2015-07-07T15:49:51.230+02:00"
                      },
                      "id": {
                        "type": "string",
                        "maxLength": 100,
                        "readOnly": true
                      },
                      "info": {
                        "description": "A JSON field to extend a model with extra info",
                        "type": "object"
                      },
                      "updated_at": {
                        "description": "Creation time",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2015-07-07T15:49:51.230+02:00"
                      }
                    }
                  }
                ],
                "properties": {
                  "filetype": {
                    "type": "string"
                  },
                  "name": {
                    "description": "Name of file",
                    "type": "string"
                  },
                  "path": {
                    "description": "Local or remote path",
                    "type": "string"
                  },
                  "source_id": {
                    "description": "The task or project or user it is related to",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "x-swagger-router-controller": "api.media.model"
      },
      "post": {
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "description": "The media details (for files already on the server or remotely hosted)",
        "tags": [
          "Media"
        ],
        "operationId": "create_medium",
        "parameters": [
          {
            "name": "media",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "source_id",
                "path",
                "name"
              ],
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    },
                    "id": {
                      "type": "string",
                      "maxLength": 100,
                      "readOnly": true
                    },
                    "info": {
                      "description": "A JSON field to extend a model with extra info",
                      "type": "object"
                    },
                    "updated_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    }
                  }
                }
              ],
              "properties": {
                "filetype": {
                  "type": "string"
                },
                "name": {
                  "description": "Name of file",
                  "type": "string"
                },
                "path": {
                  "description": "Local or remote path",
                  "type": "string"
                },
                "source_id": {
                  "description": "The task or project or user it is related to",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Media attached"
          }
        },
        "x-swagger-router-controller": "api.media.model"
      }
    },
    "/media/source/{id}": {
      "get": {
        "security": [
          {
            "apiKeyHeader": []
          },
          {
            "anonUser": []
          }
        ],
        "tags": [
          "Media"
        ],
        "summary": "Query media for a specific task or project",
        "operationId": "get_for_source",
        "parameters": [
          {
            "pattern": "^[a-zA-Z0-9-]+$",
            "type": "string",
            "description": "The unique identifer for an Object (i.e. User, Task, Project, Submission etc)",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Return Media",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "required": [
                  "source_id",
                  "path",
                  "name"
                ],
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "created_at": {
                        "description": "Creation time",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2015-07-07T15:49:51.230+02:00"
                      },
                      "id": {
                        "type": "string",
                        "maxLength": 100,
                        "readOnly": true
                      },
                      "info": {
                        "description": "A JSON field to extend a model with extra info",
                        "type": "object"
                      },
                      "updated_at": {
                        "description": "Creation time",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2015-07-07T15:49:51.230+02:00"
                      }
                    }
                  }
                ],
                "properties": {
                  "filetype": {
                    "type": "string"
                  },
                  "name": {
                    "description": "Name of file",
                    "type": "string"
                  },
                  "path": {
                    "description": "Local or remote path",
                    "type": "string"
                  },
                  "source_id": {
                    "description": "The task or project or user it is related to",
                    "type": "string"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Media does not exist"
          }
        },
        "x-swagger-router-controller": "api.media.custom"
      },
      "delete": {
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "tags": [
          "Media"
        ],
        "summary": "Delete all media files related to  source",
        "operationId": "delete_medium",
        "parameters": [
          {
            "pattern": "^[a-zA-Z0-9-]+$",
            "type": "string",
            "description": "The unique identifer for an Object (i.e. User, Task, Project, Submission etc)",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Media deleted"
          },
          "404": {
            "description": "Media does not exist"
          }
        },
        "x-swagger-router-controller": "api.media.model"
      }
    },
    "/media/upload": {
      "post": {
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "description": "Add a new media attachment",
        "consumes": [
          "multipart/form-data"
        ],
        "tags": [
          "Media"
        ],
        "operationId": "upload",
        "parameters": [
          {
            "type": "file",
            "description": "The file to be uploaded",
            "name": "attachment",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "formData"
          }
        ],
        "responses": {
          "200": {
            "description": "Media attached"
          }
        },
        "x-swagger-router-controller": "api.media.custom"
      }
    },
    "/media/{id}": {
      "get": {
        "security": [
          {
            "apiKeyHeader": []
          },
          {
            "anonUser": []
          }
        ],
        "tags": [
          "Media"
        ],
        "summary": "Get a single file",
        "operationId": "get_medium",
        "parameters": [
          {
            "pattern": "^[a-zA-Z0-9-]+$",
            "type": "string",
            "description": "The unique identifer for an Object (i.e. User, Task, Project, Submission etc)",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Return Media",
            "schema": {
              "type": "file"
            }
          },
          "404": {
            "description": "Media does not exist"
          }
        },
        "x-swagger-router-controller": "api.media.model"
      },
      "put": {
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "tags": [
          "Media"
        ],
        "summary": "Put a single file",
        "operationId": "update_medium",
        "parameters": [
          {
            "pattern": "^[a-zA-Z0-9-]+$",
            "type": "string",
            "description": "The unique identifer for an Object (i.e. User, Task, Project, Submission etc)",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "name": "media",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "source_id",
                "path",
                "name"
              ],
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    },
                    "id": {
                      "type": "string",
                      "maxLength": 100,
                      "readOnly": true
                    },
                    "info": {
                      "description": "A JSON field to extend a model with extra info",
                      "type": "object"
                    },
                    "updated_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    }
                  }
                }
              ],
              "properties": {
                "filetype": {
                  "type": "string"
                },
                "name": {
                  "description": "Name of file",
                  "type": "string"
                },
                "path": {
                  "description": "Local or remote path",
                  "type": "string"
                },
                "source_id": {
                  "description": "The task or project or user it is related to",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Return Media",
            "schema": {
              "type": "object",
              "required": [
                "source_id",
                "path",
                "name"
              ],
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    },
                    "id": {
                      "type": "string",
                      "maxLength": 100,
                      "readOnly": true
                    },
                    "info": {
                      "description": "A JSON field to extend a model with extra info",
                      "type": "object"
                    },
                    "updated_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    }
                  }
                }
              ],
              "properties": {
                "filetype": {
                  "type": "string"
                },
                "name": {
                  "description": "Name of file",
                  "type": "string"
                },
                "path": {
                  "description": "Local or remote path",
                  "type": "string"
                },
                "source_id": {
                  "description": "The task or project or user it is related to",
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Media does not exist"
          }
        },
        "x-swagger-router-controller": "api.media.model"
      }
    },
    "/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get all projects",
        "operationId": "get_projects",
        "parameters": [
          {
            "type": "string",
            "name": "search_term",
            "in": "query"
          },
          {
            "minimum": 0,
            "type": "integer",
            "default": 20,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Return projects",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "required": [
                  "name",
                  "description"
                ],
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "created_at": {
                        "description": "Creation time",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2015-07-07T15:49:51.230+02:00"
                      },
                      "id": {
                        "type": "string",
                        "maxLength": 100,
                        "readOnly": true
                      },
                      "info": {
                        "description": "A JSON field to extend a model with extra info",
                        "type": "object"
                      },
                      "updated_at": {
                        "description": "Creation time",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2015-07-07T15:49:51.230+02:00"
                      }
                    }
                  }
                ],
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "owned_by": {
                    "description": "The ID of the user that this project is owned by",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "x-swagger-router-controller": "api.project.model"
      },
      "post": {
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "tags": [
          "Projects"
        ],
        "summary": "Post a project",
        "operationId": "create_project",
        "parameters": [
          {
            "name": "project",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "name",
                "description"
              ],
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    },
                    "id": {
                      "type": "string",
                      "maxLength": 100,
                      "readOnly": true
                    },
                    "info": {
                      "description": "A JSON field to extend a model with extra info",
                      "type": "object"
                    },
                    "updated_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    }
                  }
                }
              ],
              "properties": {
                "description": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "owned_by": {
                  "description": "The ID of the user that this project is owned by",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "New project created"
          },
          "409": {
            "description": "Project already exists"
          }
        },
        "x-swagger-router-controller": "api.project.model"
      }
    },
    "/projects/count": {
      "get": {
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "tags": [
          "Projects"
        ],
        "summary": "Get row count of query",
        "operationId": "get_project_count",
        "parameters": [
          {
            "type": "string",
            "name": "search_term",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Row count"
          }
        },
        "x-swagger-router-controller": "api.project.model"
      }
    },
    "/projects/{id}": {
      "get": {
        "security": [
          {
            "apiKeyHeader": []
          },
          {
            "anonUser": []
          }
        ],
        "tags": [
          "Projects"
        ],
        "summary": "Get a single project",
        "operationId": "get_project",
        "parameters": [
          {
            "pattern": "^[a-zA-Z0-9-]+$",
            "type": "string",
            "description": "The unique identifer for an Object (i.e. User, Task, Project, Submission etc)",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Return project"
          },
          "404": {
            "description": "Project does not exist"
          }
        },
        "x-swagger-router-controller": "api.project.model"
      },
      "put": {
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "tags": [
          "Projects"
        ],
        "summary": "Modify/Create a project",
        "operationId": "update_project",
        "parameters": [
          {
            "pattern": "^[a-zA-Z0-9-]+$",
            "type": "string",
            "description": "The unique identifer for an Object (i.e. User, Task, Project, Submission etc)",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "name": "project",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "name",
                "description"
              ],
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    },
                    "id": {
                      "type": "string",
                      "maxLength": 100,
                      "readOnly": true
                    },
                    "info": {
                      "description": "A JSON field to extend a model with extra info",
                      "type": "object"
                    },
                    "updated_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    }
                  }
                }
              ],
              "properties": {
                "description": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "owned_by": {
                  "description": "The ID of the user that this project is owned by",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project modified"
          },
          "201": {
            "description": "New project created"
          }
        },
        "x-swagger-router-controller": "api.project.model"
      },
      "delete": {
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "tags": [
          "Projects"
        ],
        "summary": "Remove a project",
        "operationId": "delete_project",
        "parameters": [
          {
            "pattern": "^[a-zA-Z0-9-]+$",
            "type": "string",
            "description": "The unique identifer for an Object (i.e. User, Task, Project, Submission etc)",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Project was deleted"
          },
          "404": {
            "description": "Project does not exist"
          }
        },
        "x-swagger-router-controller": "api.project.model"
      }
    },
    "/submission/{id}": {
      "get": {
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "tags": [
          "Submissions"
        ],
        "summary": "Get a single submission",
        "operationId": "get_submission",
        "parameters": [
          {
            "pattern": "^[a-zA-Z0-9-]+$",
            "type": "string",
            "description": "The unique identifer for an Object (i.e. User, Task, Project, Submission etc)",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Return submission",
            "schema": {
              "type": "object",
              "required": [
                "task_id",
                "user_id"
              ],
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    },
                    "id": {
                      "type": "string",
                      "maxLength": 100,
                      "readOnly": true
                    },
                    "info": {
                      "description": "A JSON field to extend a model with extra info",
                      "type": "object"
                    },
                    "updated_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    }
                  }
                }
              ],
              "properties": {
                "content": {
                  "type": "object"
                },
                "task_id": {
                  "type": "string"
                },
                "user_id": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Submission does not exist"
          }
        },
        "x-swagger-router-controller": "api.submission.model"
      },
      "put": {
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "tags": [
          "Submissions"
        ],
        "summary": "Modify/Create a submission",
        "operationId": "update_submission",
        "parameters": [
          {
            "pattern": "^[a-zA-Z0-9-]+$",
            "type": "string",
            "description": "The unique identifer for an Object (i.e. User, Task, Project, Submission etc)",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "name": "submission",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "task_id",
                "user_id"
              ],
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    },
                    "id": {
                      "type": "string",
                      "maxLength": 100,
                      "readOnly": true
                    },
                    "info": {
                      "description": "A JSON field to extend a model with extra info",
                      "type": "object"
                    },
                    "updated_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    }
                  }
                }
              ],
              "properties": {
                "content": {
                  "type": "object"
                },
                "task_id": {
                  "type": "string"
                },
                "user_id": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Submission modified"
          },
          "201": {
            "description": "New submission created"
          }
        },
        "x-swagger-router-controller": "api.submission.model"
      },
      "delete": {
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "tags": [
          "Submissions"
        ],
        "summary": "Remove a submission",
        "operationId": "delete_submission",
        "parameters": [
          {
            "pattern": "^[a-zA-Z0-9-]+$",
            "type": "string",
            "description": "The unique identifer for an Object (i.e. User, Task, Project, Submission etc)",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Submission was deleted"
          },
          "404": {
            "description": "Submission does not exist"
          }
        },
        "x-swagger-router-controller": "api.submission.model"
      }
    },
    "/submissions": {
      "get": {
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "tags": [
          "Submissions"
        ],
        "summary": "Get a single submission",
        "operationId": "get_submissions",
        "parameters": [
          {
            "type": "string",
            "name": "search_term",
            "in": "query"
          },
          {
            "minimum": 0,
            "type": "integer",
            "default": 20,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of submissions",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "required": [
                  "task_id",
                  "user_id"
                ],
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "created_at": {
                        "description": "Creation time",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2015-07-07T15:49:51.230+02:00"
                      },
                      "id": {
                        "type": "string",
                        "maxLength": 100,
                        "readOnly": true
                      },
                      "info": {
                        "description": "A JSON field to extend a model with extra info",
                        "type": "object"
                      },
                      "updated_at": {
                        "description": "Creation time",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2015-07-07T15:49:51.230+02:00"
                      }
                    }
                  }
                ],
                "properties": {
                  "content": {
                    "type": "object"
                  },
                  "task_id": {
                    "type": "string"
                  },
                  "user_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "x-swagger-router-controller": "api.submission.model"
      },
      "post": {
        "security": [
          {
            "apiKeyHeader": []
          },
          {
            "anonUser": []
          }
        ],
        "tags": [
          "Submissions"
        ],
        "summary": "Post a submission",
        "operationId": "create_submission",
        "parameters": [
          {
            "name": "submission",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "task_id",
                "user_id"
              ],
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    },
                    "id": {
                      "type": "string",
                      "maxLength": 100,
                      "readOnly": true
                    },
                    "info": {
                      "description": "A JSON field to extend a model with extra info",
                      "type": "object"
                    },
                    "updated_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    }
                  }
                }
              ],
              "properties": {
                "content": {
                  "type": "object"
                },
                "task_id": {
                  "type": "string"
                },
                "user_id": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Submission created",
            "schema": {
              "type": "object",
              "required": [
                "task_id",
                "user_id"
              ],
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    },
                    "id": {
                      "type": "string",
                      "maxLength": 100,
                      "readOnly": true
                    },
                    "info": {
                      "description": "A JSON field to extend a model with extra info",
                      "type": "object"
                    },
                    "updated_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    }
                  }
                }
              ],
              "properties": {
                "content": {
                  "type": "object"
                },
                "task_id": {
                  "type": "string"
                },
                "user_id": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-swagger-router-controller": "api.submission.model"
      }
    },
    "/submissions/count": {
      "get": {
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "tags": [
          "Submissions"
        ],
        "summary": "Get row count of query",
        "operationId": "get_submission_count",
        "parameters": [
          {
            "type": "string",
            "name": "search_term",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Row count"
          }
        },
        "x-swagger-router-controller": "api.submission.model"
      }
    },
    "/tasks": {
      "get": {
        "security": [
          {
            "apiKeyHeader": []
          },
          {
            "anonUser": []
          }
        ],
        "tags": [
          "Tasks"
        ],
        "summary": "Get a list of tasks",
        "operationId": "get_tasks",
        "parameters": [
          {
            "type": "number",
            "default": 0,
            "name": "offset",
            "in": "query"
          },
          {
            "type": "string",
            "name": "search_term",
            "in": "query"
          },
          {
            "minimum": 0,
            "type": "integer",
            "default": 20,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tasks",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "required": [
                  "activity_id",
                  "sequence",
                  "title",
                  "content",
                  "required"
                ],
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "created_at": {
                        "description": "Creation time",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2015-07-07T15:49:51.230+02:00"
                      },
                      "id": {
                        "type": "string",
                        "maxLength": 100,
                        "readOnly": true
                      },
                      "info": {
                        "description": "A JSON field to extend a model with extra info",
                        "type": "object"
                      },
                      "updated_at": {
                        "description": "Creation time",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2015-07-07T15:49:51.230+02:00"
                      }
                    }
                  }
                ],
                "properties": {
                  "activity_id": {
                    "type": "string"
                  },
                  "content": {
                    "type": "object"
                  },
                  "required": {
                    "type": "boolean"
                  },
                  "sequence": {
                    "type": "integer"
                  },
                  "title": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "x-swagger-router-controller": "api.task.model"
      },
      "post": {
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "tags": [
          "Tasks"
        ],
        "summary": "Post an array of tasks",
        "operationId": "create_tasks",
        "parameters": [
          {
            "name": "tasks",
            "in": "body",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "required": [
                  "activity_id",
                  "sequence",
                  "title",
                  "content",
                  "required"
                ],
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "created_at": {
                        "description": "Creation time",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2015-07-07T15:49:51.230+02:00"
                      },
                      "id": {
                        "type": "string",
                        "maxLength": 100,
                        "readOnly": true
                      },
                      "info": {
                        "description": "A JSON field to extend a model with extra info",
                        "type": "object"
                      },
                      "updated_at": {
                        "description": "Creation time",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2015-07-07T15:49:51.230+02:00"
                      }
                    }
                  }
                ],
                "properties": {
                  "activity_id": {
                    "type": "string"
                  },
                  "content": {
                    "type": "object"
                  },
                  "required": {
                    "type": "boolean"
                  },
                  "sequence": {
                    "type": "integer"
                  },
                  "title": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Task created",
            "schema": {
              "type": "object",
              "required": [
                "activity_id",
                "sequence",
                "title",
                "content",
                "required"
              ],
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    },
                    "id": {
                      "type": "string",
                      "maxLength": 100,
                      "readOnly": true
                    },
                    "info": {
                      "description": "A JSON field to extend a model with extra info",
                      "type": "object"
                    },
                    "updated_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    }
                  }
                }
              ],
              "properties": {
                "activity_id": {
                  "type": "string"
                },
                "content": {
                  "type": "object"
                },
                "required": {
                  "type": "boolean"
                },
                "sequence": {
                  "type": "integer"
                },
                "title": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-swagger-router-controller": "api.task.model"
      },
      "delete": {
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "tags": [
          "Tasks"
        ],
        "summary": "Delete an array of tasks",
        "operationId": "delete_tasks",
        "parameters": [
          {
            "name": "tasks",
            "in": "body",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Tasks were deleted"
          }
        },
        "x-swagger-router-controller": "api.task.custom"
      }
    },
    "/tasks/count": {
      "get": {
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "tags": [
          "Tasks"
        ],
        "summary": "Get row count of query",
        "operationId": "get_task_count",
        "parameters": [
          {
            "type": "string",
            "name": "search_term",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Row count"
          }
        },
        "x-swagger-router-controller": "api.task.model"
      }
    },
    "/tasks/{id}": {
      "get": {
        "security": [
          {
            "apiKeyHeader": []
          },
          {
            "anonUser": []
          }
        ],
        "tags": [
          "Tasks"
        ],
        "summary": "Get a single task",
        "operationId": "get_task",
        "parameters": [
          {
            "pattern": "^[a-zA-Z0-9-]+$",
            "type": "string",
            "description": "The unique identifer for an Object (i.e. User, Task, Project, Submission etc)",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Return task",
            "schema": {
              "type": "object",
              "required": [
                "activity_id",
                "sequence",
                "title",
                "content",
                "required"
              ],
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    },
                    "id": {
                      "type": "string",
                      "maxLength": 100,
                      "readOnly": true
                    },
                    "info": {
                      "description": "A JSON field to extend a model with extra info",
                      "type": "object"
                    },
                    "updated_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    }
                  }
                }
              ],
              "properties": {
                "activity_id": {
                  "type": "string"
                },
                "content": {
                  "type": "object"
                },
                "required": {
                  "type": "boolean"
                },
                "sequence": {
                  "type": "integer"
                },
                "title": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Task does not exist"
          }
        },
        "x-swagger-router-controller": "api.task.model"
      },
      "put": {
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "tags": [
          "Tasks"
        ],
        "summary": "Modify/Create a task",
        "operationId": "update_task",
        "parameters": [
          {
            "pattern": "^[a-zA-Z0-9-]+$",
            "type": "string",
            "description": "The unique identifer for an Object (i.e. User, Task, Project, Submission etc)",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "name": "task",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "activity_id",
                "sequence",
                "title",
                "content",
                "required"
              ],
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    },
                    "id": {
                      "type": "string",
                      "maxLength": 100,
                      "readOnly": true
                    },
                    "info": {
                      "description": "A JSON field to extend a model with extra info",
                      "type": "object"
                    },
                    "updated_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    }
                  }
                }
              ],
              "properties": {
                "activity_id": {
                  "type": "string"
                },
                "content": {
                  "type": "object"
                },
                "required": {
                  "type": "boolean"
                },
                "sequence": {
                  "type": "integer"
                },
                "title": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "New task created"
          }
        },
        "x-swagger-router-controller": "api.task.model"
      },
      "delete": {
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "tags": [
          "Tasks"
        ],
        "summary": "Delete a single tasks",
        "operationId": "delete_task",
        "parameters": [
          {
            "pattern": "^[a-zA-Z0-9-]+$",
            "type": "string",
            "description": "The unique identifer for an Object (i.e. User, Task, Project, Submission etc)",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Task was deleted"
          }
        },
        "x-swagger-router-controller": "api.task.model"
      }
    },
    "/users": {
      "get": {
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "Users"
        ],
        "operationId": "get_users",
        "parameters": [
          {
            "type": "string",
            "name": "search_term",
            "in": "query"
          },
          {
            "minimum": 0,
            "type": "integer",
            "default": 20,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Return all users",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "created_at": {
                        "description": "Creation time",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2015-07-07T15:49:51.230+02:00"
                      },
                      "id": {
                        "type": "string",
                        "maxLength": 100,
                        "readOnly": true
                      },
                      "info": {
                        "description": "A JSON field to extend a model with extra info",
                        "type": "object"
                      },
                      "updated_at": {
                        "description": "Creation time",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2015-07-07T15:49:51.230+02:00"
                      }
                    }
                  },
                  {
                    "properties": {
                      "api_key": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "pwd": {
                        "type": "string"
                      },
                      "username": {
                        "type": "string"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "x-swagger-router-controller": "api.user.model"
      }
    },
    "/users/authorize": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Post auth for token response",
        "operationId": "generate",
        "parameters": [
          {
            "name": "token",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "user_id",
                "project_id"
              ],
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    },
                    "id": {
                      "type": "string",
                      "maxLength": 100,
                      "readOnly": true
                    },
                    "info": {
                      "description": "A JSON field to extend a model with extra info",
                      "type": "object"
                    },
                    "updated_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    }
                  }
                }
              ],
              "properties": {
                "project_id": {
                  "type": "string"
                },
                "user_id": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token created"
          }
        },
        "x-swagger-router-controller": "api.otoken"
      }
    },
    "/users/login": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Allow a user to login",
        "operationId": "login",
        "parameters": [
          {
            "name": "user",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    },
                    "id": {
                      "type": "string",
                      "maxLength": 100,
                      "readOnly": true
                    },
                    "info": {
                      "description": "A JSON field to extend a model with extra info",
                      "type": "object"
                    },
                    "updated_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    }
                  }
                },
                {
                  "properties": {
                    "api_key": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "pwd": {
                      "type": "string"
                    },
                    "username": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Login successful"
          },
          "401": {
            "description": "Incorrect login details"
          },
          "404": {
            "description": "User not found"
          }
        },
        "x-swagger-router-controller": "api.user.custom"
      }
    },
    "/users/register": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Registration end point for a user account",
        "operationId": "create_user",
        "parameters": [
          {
            "name": "user",
            "in": "body",
            "schema": {
              "type": "object",
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    },
                    "id": {
                      "type": "string",
                      "maxLength": 100,
                      "readOnly": true
                    },
                    "info": {
                      "description": "A JSON field to extend a model with extra info",
                      "type": "object"
                    },
                    "updated_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    }
                  }
                },
                {
                  "properties": {
                    "api_key": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "pwd": {
                      "type": "string"
                    },
                    "username": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created user"
          },
          "409": {
            "description": "User exists"
          }
        },
        "x-swagger-router-controller": "api.user.model"
      }
    },
    "/users/reset": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Reset user password",
        "operationId": "reset",
        "parameters": [
          {
            "type": "string",
            "name": "email",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Password reset"
          }
        },
        "x-swagger-router-controller": "api.user.custom"
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Verify password reset token",
        "operationId": "verify_reset",
        "parameters": [
          {
            "name": "reset",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "token",
                "pwd",
                "id"
              ],
              "properties": {
                "id": {
                  "type": "string"
                },
                "pwd": {
                  "type": "string"
                },
                "token": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Verified and reset"
          },
          "401": {
            "description": "Unauthorised user"
          }
        },
        "x-swagger-router-controller": "api.user.custom"
      }
    },
    "/users/validate": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "OAuth2 token info",
        "operationId": "validate",
        "parameters": [
          {
            "type": "string",
            "name": "key",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Token info object",
            "schema": {
              "type": "object",
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    },
                    "id": {
                      "type": "string",
                      "maxLength": 100,
                      "readOnly": true
                    },
                    "info": {
                      "description": "A JSON field to extend a model with extra info",
                      "type": "object"
                    },
                    "updated_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    }
                  }
                },
                {
                  "properties": {
                    "api_key": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "pwd": {
                      "type": "string"
                    },
                    "username": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        },
        "x-swagger-router-controller": "api.user.custom"
      }
    },
    "/users/{id}": {
      "get": {
        "security": [
          {
            "apiKeyHeader": []
          },
          {
            "anonUser": []
          }
        ],
        "tags": [
          "Users"
        ],
        "summary": "Get all users (or those matching an ID)",
        "operationId": "get_user",
        "parameters": [
          {
            "pattern": "^[a-zA-Z0-9-]+$",
            "type": "string",
            "description": "The unique identifer for an Object (i.e. User, Task, Project, Submission etc)",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Return users",
            "schema": {
              "type": "object",
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    },
                    "id": {
                      "type": "string",
                      "maxLength": 100,
                      "readOnly": true
                    },
                    "info": {
                      "description": "A JSON field to extend a model with extra info",
                      "type": "object"
                    },
                    "updated_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    }
                  }
                },
                {
                  "properties": {
                    "api_key": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "pwd": {
                      "type": "string"
                    },
                    "username": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "404": {
            "description": "User not found"
          }
        },
        "x-swagger-router-controller": "api.user.model"
      },
      "put": {
        "security": [
          {
            "apiKeyHeader": []
          },
          {
            "anonUser": []
          }
        ],
        "tags": [
          "Users"
        ],
        "summary": "Update user details (change password, add details etc)",
        "operationId": "update_user",
        "parameters": [
          {
            "pattern": "^[a-zA-Z0-9-]+$",
            "type": "string",
            "description": "The unique identifer for an Object (i.e. User, Task, Project, Submission etc)",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "name": "updated_user",
            "in": "body",
            "schema": {
              "type": "object",
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    },
                    "id": {
                      "type": "string",
                      "maxLength": 100,
                      "readOnly": true
                    },
                    "info": {
                      "description": "A JSON field to extend a model with extra info",
                      "type": "object"
                    },
                    "updated_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    }
                  }
                },
                {
                  "properties": {
                    "api_key": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "pwd": {
                      "type": "string"
                    },
                    "username": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User updated",
            "schema": {
              "type": "object",
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    },
                    "id": {
                      "type": "string",
                      "maxLength": 100,
                      "readOnly": true
                    },
                    "info": {
                      "description": "A JSON field to extend a model with extra info",
                      "type": "object"
                    },
                    "updated_at": {
                      "description": "Creation time",
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "example": "2015-07-07T15:49:51.230+02:00"
                    }
                  }
                },
                {
                  "properties": {
                    "api_key": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "pwd": {
                      "type": "string"
                    },
                    "username": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "404": {
            "description": "User not found"
          }
        },
        "x-swagger-router-controller": "api.user.model"
      },
      "delete": {
        "security": [
          {
            "apiKeyHeader": []
          },
          {
            "anonUser": []
          }
        ],
        "tags": [
          "Users"
        ],
        "summary": "Delete user (only allowed by the user themselves)",
        "operationId": "delete_user",
        "parameters": [
          {
            "pattern": "^[a-zA-Z0-9-]+$",
            "type": "string",
            "description": "The unique identifer for an Object (i.e. User, Task, Project, Submission etc)",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted"
          },
          "401": {
            "description": "Not authorised"
          },
          "404": {
            "description": "User not found"
          }
        },
        "x-swagger-router-controller": "api.user.model"
      }
    },
    "/users/{id}/submissions": {
      "get": {
        "security": [
          {
            "apiKeyHeader": []
          },
          {
            "anonUser": []
          }
        ],
        "tags": [
          "Users"
        ],
        "summary": "Get all submissions for a user (or those matching an ID)",
        "operationId": "get_subs",
        "parameters": [
          {
            "pattern": "^[a-zA-Z0-9-]+$",
            "type": "string",
            "description": "The unique identifer for an Object (i.e. User, Task, Project, Submission etc)",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Return submissions",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "required": [
                  "task_id",
                  "user_id"
                ],
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "created_at": {
                        "description": "Creation time",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2015-07-07T15:49:51.230+02:00"
                      },
                      "id": {
                        "type": "string",
                        "maxLength": 100,
                        "readOnly": true
                      },
                      "info": {
                        "description": "A JSON field to extend a model with extra info",
                        "type": "object"
                      },
                      "updated_at": {
                        "description": "Creation time",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2015-07-07T15:49:51.230+02:00"
                      }
                    }
                  }
                ],
                "properties": {
                  "content": {
                    "type": "object"
                  },
                  "task_id": {
                    "type": "string"
                  },
                  "user_id": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        },
        "x-swagger-router-controller": "api.user.custom"
      }
    }
  },
[...]
